<% begin

if @resource and @resource.errors.any? %>

<div class="errorlist">

	<ul>
	<% @resource.errors.each do |message| %>
		<li><%= message %></li>
	<% end %>
	</ul>

</div>

<% end

rescue NoMethodError => e
	# dm-validations not included
end %>
