<%=

	html =''
	name = @p.name.to_s
	value = @resource.send(@p.name).to_s

	case @p.class.to_s.gsub("DataMapper::Property::",'')
		when "Array", /Class/ # weird how datamapper names enum classes
			html += '<select class="array" name="resource['+name+']">'
			@resource.model.options_for_subtype(name.to_sym).each do |option|
				selected = value.to_s == option.to_s ? 'selected="selected"' : ''
				html += '<option value="'+option.to_s+'" '+selected+'>'+option.to_s.titleize+'</option>'
			end
			html += '</select>'
		when "TrueClass", "FalseClass", /Boolean/
			checked = (value == 'n' || value.blank?) ? '' : 'checked="checked"'
			html += '<input name="resource['+name+']" type="checkbox" '+checked+' />'
		else
			html += '<input class="string" type="text" name="resource['+name+']" value="'+value+'" />'
	end
	html

 %>
